.BookTitlePage {
    display: block
    }
.acknowledgements-title {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 10% 0 3em
    }
.appendix-title {
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 3em
    }
.block-rw {
    display: block;
    margin-bottom: 0;
    margin-top: 0.25em
    }
.blockquote {
    display: block;
    margin-bottom: 1.5em;
    margin-top: 1.5em
    }
.blockquote-firstpara {
    display: block;
    text-indent: 0;
    margin: 0 20pt
    }
.blockquote-indentedpara {
    display: block;
    text-indent: 1em;
    margin: 0 20pt
    }
.blockquote-title {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2em;
    text-indent: 0;
    margin: 0 0 0.5em 20pt
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin: 0 5pt
    }
.calibre1 {
    height: 95%;
    width: auto
    }
.calibre10 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 2em 0 1em
    }
.calibre11 {
    display: list-item;
    font-size: 1em
    }
.calibre2 {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre3 {
    height: auto;
    width: auto
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    display: block;
    text-indent: 20pt;
    margin: 0
    }
.calibre7 {
    font-size: 0.75em;
    line-height: 100%;
    vertical-align: super
    }
.calibre8 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin: 0 5pt
    }
.calibre9 {
    display: block;
    text-align: center;
    margin: 2em 0
    }
.center {
    display: block;
    text-align: center;
    text-indent: 0
    }
.center1 {
    text-align: center;
    text-indent: 0
    }
.center2 {
    -webkit-hyphens: none;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.center3 {
    display: block;
    text-align: center;
    margin: 0
    }
.chapter-number {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 10% 0 0.5em
    }
.chapter-title {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    text-indent: 0;
    margin: 0 0 3em
    }
.copyright {
    display: block;
    font-size: 1em;
    text-align: left;
    text-indent: 0;
    margin: 0
    }
.copyright-space {
    display: block;
    font-size: 1em;
    text-align: left;
    text-indent: 0;
    margin: 1em 0 0
    }
.copyright-title {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2em;
    text-align: center;
    text-indent: 0;
    margin: 10% 0 2em
    }
.dedication {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 15% 0% 0
    }
.dia {
    display: block;
    text-indent: -20pt;
    margin: 0 20pt 0 60pt
    }
.disclaimer-rw {
    display: block;
    font-size: 0.75em;
    text-align: center;
    text-indent: 0;
    margin: 1.5em 0 0
    }
.fixed-rw {
    display: block;
    text-align: center
    }
.galley-rw {
    display: block;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.2em;
    orphans: 1;
    text-align: justify;
    widows: 1;
    word-spacing: 0;
    padding: 0;
    margin: 0
    }
.hidden-tag {
    display: none;
    visibility: hidden
    }
.line {
    display: block;
    padding-left: 50pt;
    text-indent: -20pt;
    margin: 0 25pt 0 0
    }
.nl-list {
    display: block;
    line-height: 1.3em;
    padding-left: 3em;
    text-align: left;
    text-indent: -1em;
    margin: 0
    }
.noindent {
    display: block;
    text-indent: 0;
    margin: 0
    }
.none {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.orn {
    display: block;
    padding-top: 0.2em;
    text-align: center;
    text-indent: 0;
    margin: 1.2em 0 0
    }
.pc {
    display: block;
    padding: 0;
    margin: 0
    }
.preface-title {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2em;
    text-align: left;
    text-indent: 0;
    margin: 10% 0 0.5em
    }
.sect {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1em
    }
.signUpButton {
    -webkit-box-shadow: 0 0 5px #aaa inset;
    background: rgb(106, 115, 123);
    border-radius: 5px;
    font-size: 1.125em;
    height: 40px;
    line-height: 1.2;
    text-decoration: none;
    width: 160px;
    padding: 8px 24px;
    border: #444 solid 1px
    }
.signUpLink {
    color: white;
    text-decoration: none
    }
.small-caps {
    font-size: 0.75em
    }
.space-break {
    display: block;
    text-indent: 0;
    margin: 1.2em 0 0
    }
.speaker {
    display: block;
    padding-left: 40pt;
    text-indent: -20pt;
    margin: 0 20pt
    }
.toc-appendix {
    display: list-item;
    font-size: 1em;
    margin-bottom: 6pt;
    margin-top: 6pt;
    padding-left: 5em;
    text-indent: -4em
    }
.toc-chapter {
    display: list-item;
    font-size: 1em;
    font-weight: normal;
    margin-top: 6pt;
    text-indent: 0
    }
.toc-dedication {
    display: list-item;
    font-size: 1em;
    margin-top: 6pt;
    text-indent: 1em
    }
.toc-front {
    display: list-item;
    font-size: 1em;
    margin-top: 6pt;
    padding-left: 5em;
    text-indent: -4em
    }
.toc-preface {
    display: list-item;
    font-size: 1em;
    margin-bottom: 6pt;
    margin-top: 16pt;
    padding-left: 5em;
    text-indent: -4em
    }
.toc-title {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 10% 0 2em
    }
.welcome {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0 0 0.25em
    }
.pcalibre1:hover {
    -webkit-box-shadow: 0 0 15px #555 inset
    }
.pcalibre:active {
    -webkit-box-shadow: 0 0 15px #555 inset;
    background: #555
    }
